<h5> El número de preguntas es: <%= npreg %> </h5>
<h5> El número de comentarios es: <%= ncom %> </h5>
<h5> El número medio de comentarios por pregunta es: <%= nmedcom %> </h5>
<h5> El número de preguntas sin comentarios es: <%= nsincom %> </h5>
<h5> El número de preguntas con comentarios es: <%= nconcom %> </h5>